<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>160848147756-5qu10ijjibbm08u3qin6m5spc30sbg3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160848147756-5qu10ijjibbm08u3qin6m5spc30sbg3c</string>
	<key>API_KEY</key>
	<string>AIzaSyAUm-JytGlXUZ6N4CVYtG3_BwxOA_ToA5M</string>
	<key>GCM_SENDER_ID</key>
	<string>160848147756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BiXi</string>
	<key>PROJECT_ID</key>
	<string>bixi-1513734337230</string>
	<key>STORAGE_BUCKET</key>
	<string>bixi-1513734337230.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160848147756:ios:d614e3c48041c1a1</string>
	<key>DATABASE_URL</key>
	<string>https://bixi-1513734337230.firebaseio.com</string>
</dict>
</plist>